<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link rel="shortcut icon" href="assets/img/favicon.ico">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <link rel="stylesheet" href="assets/css/main.css">

   <title>Submission</title>
</head>

<body>
   <div id="app">
      <header>
         <nav class="navbar navbar-expand-lg bg-white py-4">
            <div class="container">
               <div class="navbar-collapse d-flex">
                  <a class="navbar-brand d-md-none d-block mr-auto" href="#">
                     Find<span>T</span>ext
                  </a>

                  <ul class="navbar-nav flex-row mr-md-auto align-items-center">
                     <li class="nav-item d-md-block d-none">
                        <a class="nav-link disabled">Support me on :</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link d-flex align-items-center px-2" href="https://www.behance.net/dottomstyleart"
                           target="_blank" rel="noopener">
                           <ion-icon name="logo-behance" class="pr-2"></ion-icon>
                           <span class=" d-md-block d-none">Behance</span>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link d-flex align-items-center px-2" href="https://medium.com/@tommyalhamra">
                           <ion-icon name="logo-medium" class="pr-2"></ion-icon>
                           <span class=" d-md-block d-none">Medium</span>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link d-flex align-items-center px-2" href="https://github.com/dottomCode"
                           target="_blank" rel="noopener">
                           <ion-icon name="logo-github" class="pr-2"></ion-icon>
                           <span class=" d-md-block d-none">Github</span>
                        </a>
                     </li>
                  </ul>
                  <div class="d-none d-md-block">
                     <button class="btn btn-download px-4" @click="linkDownload">
                        <ion-icon name="download-outline" class="pr-2"></ion-icon>
                        Download
                     </button>
                  </div>
               </div>
            </div>
         </nav>
      </header>

      <main>
         <div class="container">
            <section class="title mb-5">
               <div class="row">
                  <div class="col-md-2"><img src="assets/img/logo.svg" class="img-fluid" alt="img-logo"></div>
                  <div class="col-md align-self-end">
                     <p class="title__name h1">Find<span>T</span>ext</p>
                     <p>Find the information you want in seconds</p>
                     FindText is a video text search site created specifically by <a
                        href="https://github.com/jefrydco/awesome-cari-teks-video">Jefry Dewangga</a>. This is the basic
                     submission of the vuejs webinar. and this is my one-page application. The deadline is August 8,
                     2020. I hope I can be chosen as the best . Everything I do is documented in the medium and I upload
                     the design in the behance. Thank you
                  </div>
               </div>
            </section>

            <secttion class="box">
               <div class="row justify-content-center">
                  <div class="col-12 mb-lg-5 mb-md-4 mb-3">
                     <input type="text" class="border-0 py-3 pl-5 pr-5 px-4 box__url"
                        placeholder="Hi , paste your video url here" v-model="url">

                     <div class="box__icon icon--left">
                        <ion-icon name="globe-outline"></ion-icon>
                     </div>

                     <div @click="clearUrl" class="box__icon icon--right">
                        <ion-icon class="url" name="close-outline" size="small"></ion-icon>
                     </div>
                  </div>

                  <div class="col-lg-8 col">
                     <input v-model="keyword" type="text" class="border-0 py-3 pl-5 pr-5 px-4 box__search"
                        placeholder="Search what you want..">
                        
                     <div class="box__icon icon--left">
                        <ion-icon name="search-outline"></ion-icon>
                     </div>

                     <div @click="clear" class="box__icon icon--right">
                        <ion-icon class="keyword" name="close-outline" size="small"></ion-icon>
                     </div>
                  </div>
               </div>
            </secttion>

            <section v-show="searchResult" class="result my-5">

               <div class="row justify-content-center">
                  <div class="col-lg-8">
                     <ul>
                        <li v-for="(viewResult, i) in listResults" :key='i'>
                           <span v-html="viewResult.text"></span>
                           <a :href="`${url}&t=${viewResult.start}s`" target="_blank">Youtube</a>
                        </li>
                     </ul>

                     <div class="row align-items-center result__pagination">
                        <div class="col">
                           <!-- Total Result: {{pagination.total}} -->
                           <p class="mb-0">Page {{pagination.page}} of {{pagination.total}} </p>
                        </div>

                        <div class="col text-right result__pagination--btn d-flex justify-content-end">
                           <button @click="navigasi('first')" :disabled="!pagination['first']"
                              class="btn btn-ic d-flex align-items-center">
                              <ion-icon name="caret-back-outline"></ion-icon><span class="pl-2">First</span>
                           </button>

                           <button @click="navigasi('prev')" :disabled="!pagination['prev']"
                              class="btn btn-ic d-flex align-items-center">
                              <ion-icon name="chevron-back-outline"></ion-icon>
                           </button>

                           <button @click="navigasi('next')" :disabled="!pagination['next']"
                              class="btn btn-ic d-flex align-items-center">
                              <ion-icon name="chevron-forward-outline"></ion-icon>
                           </button>

                           <button @click="navigasi('last')" :disabled="!pagination['last']"
                              class="btn btn-ic d-flex align-items-center">
                              <span class="pr-2">Last</span>
                              <ion-icon name="caret-forward-outline"></ion-icon>
                           </button>
                        </div>
                     </div>

                  </div>
               </div>
            </section>

            <!-- <pre class="mt-5">
               {{ changeToString (pagination) }}
            </pre>
            <pre class="mt-5">
               {{ changeToString (listResults) }}
            </pre> -->
         </div>
      </main>

      <footer class="py-3">
         <div class="container">
            <div class="brand--img">
               <img src="assets/img/res-img.png" alt="img">
            </div>
            <div class="row">
               <div class="col">
                  FindText
               </div>
            </div>
            <div class="row">
               <div class="col-md-8 col-12">
                  Released under MIT License | Copyright @ 2020
               </div>
               <div class="col-md-4 col-12 text-md-right text-left">
                  Made with &#128151; by <a href="https://www.instagram.com/tommyalhamra/">imotD</a>
               </div>
            </div>
         </div>
      </footer>

   </div>

   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
   </script>
   <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
   </script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
   </script>
   <script src="assets/js/script.js"></script>
   <script>
      new Vue({
         el: '#app',
         data: {
            // url: 'https://www.youtube.com/watch?v=klnvttPfOUM',
            searchResult: false,
            url: '',
            keyword: '',
            listResults: [],
            pagination: {
               first: null,
               last: null,
               prev: null,
               next: null,
               total: 0,
               page: null
            }
         },
         computed: {
            changeToString() {
               return (params) => {
                  return JSON.stringify(params, null, 2)
               }
            }
         },
         watch: {
            keyword: pDebounce(async function handleKeyword(keyword) {
               if (keyword && keyword.length >= 3) {
                  await this.search(keyword, this.url)
               } else {
                  this.clearAll()
                  this.searchResult = false
               }
            }, 250)
         },
         methods: {
            async search(keyword, url, pagination) {
               try {
                  const res = await fetch(
                     pagination ?
                     pagination :
                     `https://cari-teks-video-api.vercel.app/api/search?q=${keyword}&url=${encodeURIComponent(url)}`
                  ).then(_ => (_.ok ? _.json() : []))

                  this.searchResult = true
                  this.listResults = res.data
                  this.pagination.first = res.first
                  this.pagination.last = res.last
                  this.pagination.prev = res.prev
                  this.pagination.next = res.next
                  this.pagination.total = res.total
                  this.pagination.page = res.page

               } catch (error) {

               }
            },
            async navigasi(type) {
               if (!this.pagination[type]) {
                  return
               }
               await this.search(this.keyword, this.url, this.pagination[type])
            },
            linkDownload() {
               location.href = 'https://github.com/dottomCode/submission-vuejs-app'
            },
            clearUrl() {
               this.url = ''
               this.keyword = ''
               this.clearAll()
            },
            clear() {
               this.keyword = ''
               this.clearAll()
            },
            clearAll() {
               this.listResults = []
               this.pagination = {
                  first: null,
                  last: null,
                  prev: null,
                  next: null,
                  total: 0,
                  page: null
               }
            }
         }
      });
   </script>
</body>

</html>