<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link rel="shortcut icon" href="assets/img/favicon.ico">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <link rel="stylesheet" href="assets/css/main.css">

   <title>Submission</title>
</head>

<body>
   <div id="app">
      <header>
         <nav class="navbar navbar-expand-lg bg-white py-4">
            <div class="container">
               <!-- <a class="navbar-brand" href="#">Navbar</a> -->
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto align-items-center">
                     <li class="nav-item">
                        <a class="nav-link disabled">Support me on :</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="https://www.behance.net/dottomstyleart"
                           target="_blank" rel="noopener">
                           <ion-icon name="logo-behance" class="pr-2"></ion-icon>
                           Behance
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="https://medium.com/@tommyalhamra">
                           <ion-icon name="logo-medium" class="pr-2"></ion-icon>
                           Medium
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link d-flex align-items-center" href="https://github.com/dottomCode"
                           target="_blank" rel="noopener">
                           <ion-icon name="logo-github" class="pr-2"></ion-icon>
                           Github
                        </a>
                     </li>
                  </ul>
                  <div>
                     <button class="btn btn-download px-4" @click="linkDownload">
                        <ion-icon name="download-outline" class="pr-2"></ion-icon>
                        Download
                     </button>
                  </div>
               </div>
            </div>
         </nav>
      </header>

      <main>
         <div class="container">
            <section class="title mb-5">
               <div class="row">
                  <div class="col-md-2"><img src="assets/img/logo.png" class="img-fluid" alt="img-logo"></div>
                  <div class="col-md align-self-end">
                     <p class="title__name h1">FindText</p>
                     Find the information you want in seconds amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                     et
                     accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                     Lorem
                     ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur.
                  </div>
               </div>
            </section>

            <secttion class="box">
               <div class="row justify-content-center">
                  <div class="col-12 mb-5">
                     <div class="box__icon icon--left">
                        <ion-icon name="globe-outline"></ion-icon>
                     </div>
                     <input type="text" class="border-0 py-3 pl-5 pr-5 px-4 box__url"
                        placeholder="Hi , paste your video url here" v-model="url">
                     <div @click="clear" class="box__icon icon--right">
                        <ion-icon class="url" name="close-outline" size="small"></ion-icon>
                     </div>
                  </div>

                  <div class="col-8">
                     <div class="box__icon icon--left">
                        <ion-icon name="search-outline"></ion-icon>
                     </div>
                     <input v-model="keyword" type="text" class="border-0 py-3 pl-5 pr-5 px-4 box__search"
                        placeholder="Search what you want..">
                     <div @click="clear" class="box__icon icon--right">
                        <ion-icon class="keyword" name="close-outline" size="small"></ion-icon>
                     </div>
                  </div>
               </div>
            </secttion>

            <section class="result my-5">

               <div class="row justify-content-center">
                  <div class="col-8">
                     <p>Halaman ke : {{pagination.page}}</p>
                     <ul>
                        <li v-for="(viewResult, i) in listResults" :key='i'>
                           <span v-html="viewResult.text"></span>
                           <a :href="`${url}&t=${viewResult.start}s`" target="_blank">Youtube</a>
                        </li>
                     </ul>

                     <div class="row align-items-center">
                        <div class="col">
                           Total Hasil: {{pagination.total}}
                        </div>

                        <div class="col text-center">
                           <button @click="navigasi('first')" :disabled="!pagination['first']"
                              class="btn btn-primary">First</button>
                           <button @click="navigasi('prev')" :disabled="!pagination['prev']"
                              class="btn btn-primary">Prev</button>
                           <button @click="navigasi('next')" :disabled="!pagination['next']"
                              class="btn btn-primary">Next</button>
                           <button @click="navigasi('last')" :disabled="!pagination['last']"
                              class="btn btn-primary">Last</button>
                        </div>
                     </div>

                  </div>
               </div>

            </section>

            <!-- <pre class="mt-5">
               {{ changeToString (pagination) }}
            </pre>
            <pre class="mt-5">
               {{ changeToString (listResults) }}
            </pre> -->
         </div>
      </main>

      <footer class="py-3">
         <div class="container">
            <div class="row">
               <div class="col">
                  FindText
               </div>
            </div>
            <div class="row">
               <div class="col">
                  Released under MIT License | Copyright @ 2020
               </div>
               <div class="col text-right">
                  designed by <a href="https://www.instagram.com/tommyalhamra/">imotD</a>
               </div>
            </div>
         </div>
      </footer>

   </div>

   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
   </script>
   <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
   </script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
   </script>
   <script src="assets/js/script.js"></script>
   <script>
      new Vue({
         el: '#app',
         data: {
            url: 'https://www.youtube.com/watch?v=klnvttPfOUM',
            keyword: '',
            listResults: [],
            pagination: {
               first: null,
               last: null,
               prev: null,
               next: null,
               total: 0,
               page: null
            }
         },
         computed: {
            changeToString() {
               return (params) => {
                  return JSON.stringify(params, null, 2)
               }
            }
         },
         watch: {
            keyword: pDebounce(async function handleKeyword(keyword) {
               if (keyword && keyword.length >= 3) {
                  await this.search(keyword, this.url)
               } else {
                  this.clearAll()
               }
            }, 250)
         },
         methods: {
            async search(keyword, url, pagination) {
               try {
                  const res = await fetch(
                     pagination ?
                     pagination :
                     `https://cari-teks-video-api.vercel.app/api/search?q=${keyword}&url=${encodeURIComponent(url)}`
                  ).then(_ => (_.ok ? _.json() : []))

                  this.listResults = res.data
                  this.pagination.first = res.first
                  this.pagination.last = res.last
                  this.pagination.prev = res.prev
                  this.pagination.next = res.next
                  this.pagination.total = res.total
                  this.pagination.page = res.page

               } catch (error) {

               }
            },
            async navigasi(type) {
               if (!this.pagination[type]) {
                  return
               }
               await this.search(this.keyword, this.url, this.pagination[type])
            },
            linkDownload() {
               location.href = 'https://github.com/dottomCode/submission-vuejs-app'
            },
            clear() {
               this.keyword = ''
               this.clearAll()
            },
            clearAll() {
               this.listResults = []
               this.pagination = {
                  first: null,
                  last: null,
                  prev: null,
                  next: null,
                  total: 0,
                  page: null
               }
            }
         }
      });
   </script>
</body>

</html>