@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

$box : #F7F8FA;
$h1 : #3366FF;
$txt-title :#0C1E55;
$txt-grey :#DCDEE2;
$input: #EDF0F5;
$ping: #FF3D71;

body {
   font-family: 'Poppins', sans-serif;
}

header {
   nav {
      a {
         color: $txt-grey !important;

         &:hover {
            color: $h1 !important;
         }
      }

      .btn-download {
         align-items: center;
         display: flex;
         color: $h1;
         border-radius: 10px;
         background-color: $box;
         font-size: 18px;

         ion-icon {
            font-size: 25px;
         }

         &:hover {
            color: white;
            background-color: $h1;
         }
      }
   }
}

main {
   margin-top: 7rem;

   .title {
      color: $txt-title;

      &__name {
         color: $h1;
         font-weight: bold;
      }

      span {
         color: $ping;
      }
   }

   .box {
      &__icon {
         color: #CBCCCE;
         position: absolute;
         top: 0;
         bottom: 0;
         display: flex;
         align-items: center;
         justify-content: center;
         width: 50px;
         font-size: 23px;

         &.icon--left {
            left: 15px;
         }

         &.icon--right {
            right: 15px;

            .url {
               border-radius: 50%;
               height: 20px;
               width: 20px;
               color: #b6bdca;
            }

            .keyword {
               background-color: $box;
               border-radius: 50%;
               height: 20px;
               width: 20px;
               color: #b6bdca;

            }

            &:hover {
               cursor: pointer;

               .keyword {
                  background-color: #edf1f9;
               }

               .url {
                  background-color: #d8deeb;
                  color: white;
               }
            }
         }
      }

      &__url {
         border-radius: 10px;
         background-color: $input;
         font-size: 14px;
         width: 100%;

         &::placeholder {
            color: #CBCCCE;
         }

         &:focus {
            outline: none;
         }
      }

      &__search {
         border-radius: 10px;
         font-size: 14px;
         width: 100%;
         box-shadow: 0 2px 7px -4px;
         transition: box-shadow .5 ease-in;

         &:focus {
            outline: none;
            box-shadow: 0 3px 10px -4px;

         }

         &::placeholder {
            color: #CBCCCE;
         }
      }

   }

   .result {
      &__pagination {

         &--btn {
            .btn-ic {
               border-color: $box;

               margin: 0 3px;

               &:disabled {
                  background-color: $box;
               }

               &:hover {
                  background-color: white;
                  border-radius: 10px;
                  box-shadow: 0 2px 10px -6px;
               }

               &:active {
                  color: white;
                  background-color: $h1;
               }
            }
         }
      }
   }
}

footer {
   position: relative;
   background-color: $h1;
   color: white;
   font-size: 12px;
   margin-top: 25rem;

   .brand--img {
      position: absolute;
      margin-bottom: 6rem;
      bottom: 0;
      z-index: -1;
      right: 7rem;
      transform: scaleX(-1);
   }

   a {
      color: yellow;

      &:hover {
         color: $ping;
      }
   }
}

@import 'responsive'