@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

header nav a {
  color: #DCDEE2 !important;
}

header nav a:hover {
  color: #3366FF !important;
}

header nav .btn-download {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3366FF;
  border-radius: 10px;
  background-color: #F7F8FA;
  font-size: 18px;
}

header nav .btn-download ion-icon {
  font-size: 25px;
}

header nav .btn-download:hover {
  color: white;
  background-color: #3366FF;
}

main {
  margin-top: 7rem;
}

main .title {
  color: #0C1E55;
}

main .title__name {
  color: #3366FF;
  font-weight: bold;
}

main .title span {
  color: #FF3D71;
}

main .box__icon {
  color: #CBCCCE;
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  font-size: 23px;
}

main .box__icon.icon--left {
  left: 15px;
}

main .box__icon.icon--right {
  right: 15px;
}

main .box__icon.icon--right .url {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  color: #b6bdca;
}

main .box__icon.icon--right .keyword {
  background-color: #F7F8FA;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  color: #b6bdca;
}

main .box__icon.icon--right:hover {
  cursor: pointer;
}

main .box__icon.icon--right:hover .keyword {
  background-color: #edf1f9;
}

main .box__icon.icon--right:hover .url {
  background-color: #d8deeb;
  color: white;
}

main .box__url {
  border-radius: 10px;
  background-color: #EDF0F5;
  font-size: 14px;
  width: 100%;
}

main .box__url ~ .icon--left {
  color: #CBCCCE;
}

main .box__url::-webkit-input-placeholder {
  color: #CBCCCE;
}

main .box__url:-ms-input-placeholder {
  color: #CBCCCE;
}

main .box__url::-ms-input-placeholder {
  color: #CBCCCE;
}

main .box__url::placeholder {
  color: #CBCCCE;
}

main .box__url:focus {
  outline: none;
}

main .box__url:focus ~ .icon--left {
  color: #3366FF;
}

main .box__search {
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  -webkit-box-shadow: 0 2px 7px -4px;
          box-shadow: 0 2px 7px -4px;
  -webkit-transition: -webkit-box-shadow .5 ease-in;
  transition: -webkit-box-shadow .5 ease-in;
  transition: box-shadow .5 ease-in;
  transition: box-shadow .5 ease-in, -webkit-box-shadow .5 ease-in;
}

main .box__search ~ .icon--left {
  color: #CBCCCE;
}

main .box__search:focus {
  outline: none;
  -webkit-box-shadow: 0 3px 10px -4px;
          box-shadow: 0 3px 10px -4px;
}

main .box__search:focus ~ .icon--left {
  color: #3366FF;
}

main .box__search::-webkit-input-placeholder {
  color: #CBCCCE;
}

main .box__search:-ms-input-placeholder {
  color: #CBCCCE;
}

main .box__search::-ms-input-placeholder {
  color: #CBCCCE;
}

main .box__search::placeholder {
  color: #CBCCCE;
}

main .result .cvt-highlight {
  color: #FF3D71;
  font-weight: 700;
  background-color: transparent;
}

main .result__pagination--btn .btn-ic {
  border-color: #F7F8FA;
  margin: 0 3px;
}

main .result__pagination--btn .btn-ic:disabled {
  background-color: #F7F8FA;
}

main .result__pagination--btn .btn-ic:hover {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 10px -6px;
          box-shadow: 0 2px 10px -6px;
}

main .result__pagination--btn .btn-ic:active {
  color: white;
  background-color: #3366FF;
}

footer {
  position: relative;
  background-color: #3366FF;
  color: white;
  font-size: 12px;
  margin-top: 25rem;
}

footer .brand--img {
  position: absolute;
  margin-bottom: 6rem;
  bottom: 0;
  z-index: -1;
  right: 7rem;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  opacity: .1;
}

footer a {
  color: yellow;
}

footer a:hover {
  color: #FF3D71;
}

@media (max-width: 767px) {
  header nav a {
    color: #3366FF !important;
    font-size: 20px;
  }
  header nav .navbar-brand {
    color: #3366FF !important;
  }
  header nav .navbar-brand span {
    color: #FF3D71;
  }
  main .title img {
    width: 100px;
  }
  footer .brand--img {
    right: 0;
  }
}

@media (max-width: 575.98px) {
  footer .brand--img img {
    width: 15rem;
  }
}
/*# sourceMappingURL=main.css.map */